<!--buygood VUE practice-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="css/vuepractice.css">
    <title>PRODUCT APP PRACTICE</title>
</head>

<body>
<div class="nav-bar"></div>

<div id="app">
   <div class="product"> 
   <div class="product-image"> 
   <img v-bind:src="image">
      </div>
    <div class="product-info">
      <h1>{{title}}</h1>
      <p>{{sale}}</p> 
<!--
       <h1 v-if="!onSale">{{title}}</h1>  
       <h1 v-else>{{sale}}</h1> 
-->
<!--        <h1>{{brand}} {{product}}</h1> -->
         <p v-if="inStock">In Stock</p>
<!--         conditional rendering-->
<!--          <p v-if="inventory>10">In Stock</p>-->
<!--          <p v-show="inStock">In Stock</p>-->
<!--          <p v-else-if="inventory<=10 && inventory>0">Almost Sold Out!</p>-->
         <p v-else>Out of Stock</p>
<!--
          <p v-else
         :class="{linethru: !inStock}">Out of Stock</p>
-->
         <!--conditional rendering-->
<!--         <span v-if="onSale">ON SALE!!</span>conditional rendering-->
        <ul>
         <li v-for="detail in details">{{detail}}</li>   
        </ul>
        
        <div v-for="(variant, index) in variants" 
           :key="variant.variantId"
           class="color-box"
           :style="{ backgroundColor: variant.variantColor}"
           @mouseover="updateProduct(index)">

        </div>
           
           <ul>
              <li v-for="size in sizes">{{size}} </li> 
           </ul> 
           
<!--            <button v-on:click="cart += 1">ADD TO CART</button>-->
            <button v-on:click="addToCart"
            :disabled="!inStock"
            :class="{disabledButton: !inStock}">ADD TO CART</button>
            
            <button v-on:click="removeFromCart">REMOVE FROM CART</button>
    
    <div class="cart">
    <p>Cart[{{cart}}]</p> 
    </div>

    </div> 
<!--    end of div class product info-->
    


    </div>
    <!--    end of div class product-->
</div>
<!--    end of div id app-->


  


<!--SCRIPT SECTION-->

<script src="js/vue.js"></script>

<script src="js/vuepractice.js"></script>
</body>
</html>

<div v-if="view == 'basket'">
    <div id="app">
        <div class="header">
            <h2>PROJECTS</h2>
            <div>
                <button @click="showCart = !showCart" v-show="!verified">
                    {{ basket.length + (basket.length > 1 || basket.length === 0 ? " donations" : " selected") }}
                </button>
            </div>
        </div>
        <div class="cart" v-show="showCart">
            <div v-show="basket.length > 0">
                <ul>
                    <li v-for="selected in basket" transition="fade">
                        <p><strong>{{ countDonations(selected.id)}}</strong> - {{ selected.title }} <i
                                class="fa fa-trash" @click="removefromBasket(selected)"></i></p>
                    </li>
                </ul>
                <div><button @click="verified = true, showCart = false">Check out</button></div>
            </div>
            <div v-show="basket.length === 0">
                <p>Your cart is empty!</p>
            </div>
        </div>
        <div class="container">
            <div class="shop" v-show="!verified">
                <h3>PROJECTS</h3>
                <ul>
                    <li v-for="selected in searchProjects">
                        <div>
                            <h5>{{ selected.title }}</h5>
                            <p>${{selected.donationOptions.donationOption[0].amount }}</p>
                            <button @click="addtoBasket(selected)">Add to cart</button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="checkout" v-show="verified">
                <h3>Your Cart</h3>
                <h5 v-for="selected in basket"><strong>{{ countDonations(selected.id) }}</strong> -
                    {{ selected.title }}<span>${{ selected.donationOptions.donationOption[0].amount * countDonations(selected.id) }}</span>
                </h5>
                <hr />
                <div class="row">
                    <div class="u-pull-right">
                        <h5>Total: <span>{{ total}}</span></h5>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div id="checkout" class="landingPage"></div>   -->